@import url('https://www.webpagefx.com/web-design/color-picker/');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    flex: 1;
    width: 100%;
    height: 100px;
    background-color: #2c3e50;
    margin: 0 auto;
}
@media only screen and (max-width: 640px) {
    header {
        height: 180px;
    }
}
#logo {
    font-size: 1.6rem;
    color: white;
    padding-top: 30px;
    margin-left: 10px;
    float: left;
}
#logo span {
    font-weight: 600;
}
#login_form {
    margin-top: 10px;
    float: right;
    color: white;
}
.login_field {
    margin-right: 20px;
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}
.login_field input {
    width: 150px;
    float: right;
}
.login_field #submit {
    font-size: 0.9rem;
    font-weight: bold;
}
div#container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
.sidebar {
    width: 200px;
    height: auto;
    background-color: #95a5a6;
    float: left;
    height: 100vh;
}
nav {
    padding: 5px;
}
nav ul li {
    color: #073033;
    display: block;
    background-color: #819596;
    padding: 15px;
    font-size: 1.2rem;
    border: 1px solid #95a5a6;
    border-bottom: 4px solid #95a5a6;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
nav ul li:hover,
nav ul li.selected {
    background-color: #95a5a6;
}
.content {
    width: auto;
    margin-left: 200px;
    bottom: 0;
    padding: 15px;
    color: #073033;
    background-color: #ecf0f1;
    height: 100vh;
}
.content p {
    font-size: 0.7rem;
}
div.box {
    margin-top: 15px;
}
div.box .box-top {
    color: #fff;
    text-shadow: 0px 0px 1px #ddd;
    background-color: #2980b9;
    font-weight: 300;
    padding: 5px 5px 5px 15px;
}
div.box .box-panel {
    background-color: white;
    padding: 5px 5px 5px 15px;
}
@media only screen and (max-width: 320px) {
    .sidebar,
    .content {
        margin-left: 0px;
        width: 100%;
        height: 100vh;
        margin-bottom: 15px;
    }
    .sidebar nav li {
        font-size: 1rem;
        padding: 7.5px;
        padding-left: 15px;
    }
    #logo a {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 1.5rem;
    }
}
form .input_value input {
    margin: 7.5px;
}
.input_value {
    font-weight: bold;
}
.input_value,
.checkbox_value,
.f_relation {
    font-size: 1rem;
    float: left;
    margin-right: 25px;
}
.checkbox_value p,
.f_relation p {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 20px;
}
.button_c {
    width: 200px;
    font-weight: bold;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.border_box {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.search_remove_button {
    margin-top: 20px;
    height: 40px;
    background-color: #2c3e50;
    color: white;
    width: 300px;
    font-weight: bold;
    display: block;
}
.remove_s_input {
    width: 300px;
    display: block;
    margin-top: 25px;
    ;
    font-size: 0.9rem;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.remove_s_input:focus {
    width: 60%;
}
.search_result {
    width: 100%;
    background-color: white;
    height: 200px;
    margin: 25px 0 25px 0;
}
.border_box {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.search_remove_button {
    margin-top: 20px;
    height: 40px;
    background-color: #2c3e50;
    color: white;
    width: 300px;
    font-weight: bold;
}

.logout_div{
    float:right;
    border: 2px solid white;
    margin:25px;
    padding:10px;
    border-radius:5px;
    text-align:center;
}
.logout_div a{
    color:white;
    font-size:1.2rem;
    padding: 5px;
}
.logout_div:hover{
    background-color:#95a5a6;
    color:#2c3e50;
}

.souvenirs {
    background-size: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    margin-left: 5px;
    margin-right: 5px;
    background-color:white;
}
.souvenirs {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    background-color: white;
    height: 450px;
    margin-bottom: 15px;
}